*{
    margin:0 ;
    padding: 0;
}
.top-menu{
    display: flex;
    background-image: url('../Img/Img-Backgroud/bg2.jpg');
    background-size: 100% 100vh;
    width: 100%;
    height: 100vh; 
}
.w50{
    width: 50%;
}
.wapper-button{
    height: 100vh;
}
.title-menu{
    padding-top: 32%;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.button-top{
 margin: 20px;
  padding: 20%;
  padding-top: 2%;
  margin: auto;
  width: 80%;

}  
  

.button-top button{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2% 3%;
    border-radius: 8px;
    cursor: pointer;
    float: left;
    background-color: white;
}
.button-top button:hover{
    color: white;
    background-color: black;
}
.text-menu{
    line-height: 30px;
    padding-left: 2.5%;
    text-align: left;
    color: white;
    font-size: 20px;
    margin: auto;
    padding-top: 5%;
    width: 70%;
}
.contens-scroll{
    overflow: auto;
    width: 50%;
    height: 100vh;
    margin: auto;
}
form.search-menu input[type=text] {
    border-top-left-radius: 10px ;
    border-bottom-left-radius:10px;
    padding: 10px 0;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 82%;
    background: #f1f1f1;
    margin-top:115px;
  }
  form.search-menu button {
    float: left;
    margin-top: 115px;
    width: 9%;
    padding: 10px;
    background: #f1f1f1;
    color: rgb(163, 160, 160);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.search-menu button:hover {
    background: rgb(212, 211, 211);
  }
  .spinner-border{
      margin-left: 50%;
     
 
}

.contens-top{
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 90%;
    padding-left: 1%;
    padding-right: 4%;
    background-color:white;
    margin-top:1% ;
    padding-top: 5%;
    padding-bottom: 7%;
    margin-bottom: 3%;
    height: 400px auto;
}
.contens-top-item{
    cursor: pointer;
    border-radius: 10px;
    width: 180px;
    height: 200px;
    margin: 0 auto;
    margin-top:10% ;
    border: 1px solid #A4A4A4;
    margin-right: 0px;
}
h7{
    margin-left: 10px;
}
.contens-top-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contens-top-item-img img{
    width: 100%; 
    height: 125px;
    background-image: url('../Img/Img-Item/unnamed.jpg');
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.contens-top-item-img h6{
    padding-left: 5%;
    text-align: left;
    padding-top: 3%;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
}
/* .contens-top-item-img p{
    padding-left: 5%;
    text-align: left;
    font-size: 11px;
    padding-bottom: 3%;
    border-bottom: 1px solid  #A4A4A4;
} */
.contens-top-item-img button{
    padding-left: 5%;
    text-align: left;
    font-size: 11px;
    padding-bottom: 3%;
    border-bottom: 1px solid  #A4A4A4;
}
.sale{
    color: coral;
    padding-left: 10%;
    padding-top: 4%;
    font-weight: 700; 
    font-size: 12px;
}
#search-show{
   display:none;
    width: 91%;
    background-color:#F2F2F2;
}
#block{
    display: block;
}
.none{
    display: none;
}
.search-show-item{
    float: left;
    width: 100%;
    cursor: pointer;
    background-color: #F2F2F2;
    border-bottom:1px solid #A4A4A4;
}
.search-show-item:hover{
    background-color:#E6E6E6;
}
.search-show-item-img{
    float: left;
    padding-left: 2%;
    padding-top: 10px;
    padding-bottom: 7px;
    width:20%; 
}
.search-show-item-img img{
    background-image: url('../Img/Img-Item/unnamed.jpg');
    width: 100%;
    height: 80px;
}
.search-show-item-title{
    padding-top: 24px;
    width: 80%;
    margin-left: 25%;
}
.search-show-item-title h4{
    line-height: 30px;
    text-align: left;
    font-weight: 700;
}
.search-show-item-title p{
    color: #585858;
    text-align: left;
}











